* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
  
body {
    margin: 0% 0% 0% 0%;
    padding: 0;
}
  
main {
    /* costumize with the header's height */
    margin-top: 60px;
    background-color: #ff6060;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(0, 117, 190);
}

nav {
    position: absolute;
    margin: 14px 30px 0px;
    right: 0;
}

a {
    color: #FFDE00;
    text-decoration: none;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header-icon {
    width: 130px;
    margin: 8px 15px;
    position: absolute;
}

/* contact  */

.contact-background{
    font-size:14;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background-color: #fff;
    display:flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: rgb(0, 117, 190);
    color: #fff;
}

h1 {
    margin-bottom: 10px;
    color: rgb(255, 222, 0);
}
.container p{
    margin-bottom: 40px;
    color: rgb(255, 222, 0);
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: rgb(0, 117, 190);
}

button{
    background:rgb(0, 117, 190);
    width: 100px;
    border: none;
    outline: none;
    color:#fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {
    color: rgb(0, 117, 190);
    font-weight: 600;
    margin-bottom: 30px;
}

td{
    background :rgb(0, 117, 190);
    color: #fff;
}

/* footer  */

footer {
    background-color: rgb(0, 117, 190);
    margin-top: 50px;
}

.center-footer {
  margin: 0 20px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.left-footer {
  margin: 0 auto 0 40px;
}

.right-footer {
  margin: 0 40px 0 auto;
}

.info-left {
  text-align: left;
  width: 100%;
  color: rgb(255, 222, 0);
}

.info-right {
  text-align: right;
  width: 100%;
  color: rgb(255, 222, 0);
}

.info-top {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: rgb(255, 222, 0);
}

.info-center {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgb(255, 222, 0);;
  color: rgb(255, 222, 0);
}

.social-media {
  display: flex;
  justify-content: center;
}

.fa-instagram-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-discord {
  padding: 5px;
  font-size: 30px;
  color: rgb(255, 222, 0);
}